@inherits LayoutComponentBase

<div class="container mt-4">
    <div class="mb-3">
        <h2>R6 Siege Tactics</h2>
        <nav>
            <a class="btn btn-primary me-2" href="/">Home</a>
            <a class="btn btn-secondary" href="/map/Clubhouse">Clubhouse</a>
            <a class="btn btn-secondary" href="/map/Fortress">Fortress</a>
        </nav>
    </div>

    @Body
</div>